  @font-face {
    font-family: "Bohemian"; 
    src: url("/fonts/Bohemian Soul.woff2") format("woff2"),
        url("/fonts/Bohemian Soul.woff") format("woff");
    font-weight: normal; 
    font-style: normal; 
  }

  .dev-team {
    width: min(100%, 1920px);
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
    container-type: inline-size;
  }

  .dev-team-members {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 2%;
    width: 100%;
    gap: 3cqw;
  }

  .dev-team-head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2cqw;
    width: 100%;
    height: auto;
    container-type: inline-size;
  }

  .code-wizards {
    display: flex;
    align-items: center;
    container-type: inline-size;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1cqw;
  }

  .code-wizards p {
    text-align: center;
    font-family: Poppins;
    font-size: 2cqw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(90deg, #f20790 0%, #007aff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .code-wizards img{
    width: 10cqw;
    height: auto;
  }

  .dt-content {
    align-self: stretch;
    color: var(--Text-Primary-TextColor, #191919);
    text-align: center;
    font-family: Poppins;
    font-size: 3cqw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 70%;
    height: auto;
    position: relative;
    margin: 0 auto;
  }

  .dt-content span {
    background: linear-gradient(90deg, #f20790 23.23%, #007aff 43.22%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Bohemian";
    font-size: 3.5cqw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.12px;
  }