.home-page{
  position: relative;
  display: flex;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  container-type: inline-size;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
    /* background: radial-gradient(
    circle at top center,
    rgba(255, 134, 205, 0.35) 20%,
    #fff9fe 60%
  ), 
  #fff9fe;*/
}

.grid {
  position:absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width:min(100%, 1920px);
  overflow: hidden;
  z-index: -11;
  margin: 0;
  padding: 0; 
  height: auto;
  overflow-x: hidden;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  transition: all 0.5sease-in-out;
  transform: blur(600px);
}
