@font-face {
  font-family: "Bohemian"; /* Give your font a name */
  src: url("/fonts/Bohemian Soul.woff2") format("woff2"),
    /* Path to the font file */ url("/fonts/Bohemian Soul.woff")
      format("woff"); /* Fallback for older browsers */
  font-weight: normal; /* Specify the font weight */
  font-style: normal; /* Specify the font style */
}

.name-comp{
  padding: 0;
  margin: 0;
  margin-top:0;
  width: min(100%, 1920px);
  container-type: inline-size;
}

.head {
  width: 100%;
  height: 20%;
  align-self: stretch;
  text-align: center;
  font-family: "Bohemian";
  font-style: normal;
  font-weight: 400;
  font-size: 3cqw; /* Use rem for scalable font size */
  line-height: 1.2; /* Use unitless line-height for better scaling */
  background: linear-gradient(91deg, #ff008a 36.92%, #007aff 65.26%);
  background-clip: text;
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;
  margin: 8px auto; /* Center the text horizontally */
  background-color: #ff008a;
}

.para {
  align-self: stretch;
  color: var(--Text-Primary-TextColor, #191919);
  text-align: center;
  font-family: "Poppins", sans-serif; /* Add fallback font */
  font-size: 1.3cqw; /* Use rem for scalable font size */
  font-style: normal;
  font-weight: 400;
  width: 70%;
  line-height: 1.6; /* Use unitless line-height for better scaling */
  margin: 0 auto; /* Add margin for spacing */
}
