@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate-gradient {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@keyframes textShine {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.register {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10cqw;
  height: 3.5cqw;
  border-radius: 625rem;
  background: white;
  backdrop-filter: blur(11px);
  border: transparent;
}

.register:hover {
  background: linear-gradient(180deg, #fff 62.76%, #ffdbf0 100%);
  box-shadow: 0px 2px 9.1px 0px rgba(242, 7, 144, 0.4),
    0px 2px 9.1px 0px rgba(242, 7, 144, 0.4),
    0px -2px 9.1px 0px rgba(13, 119, 251, 0.4),
    0px -2px 9.1px 0px rgba(13, 119, 251, 0.4);
}

.register::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(90deg, #ff009a 0%, #0877fc 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: exclude;
  transition: background 0.3s ease;
  padding: 0.199cqw;
}

.register:hover::before {
  background: conic-gradient(
    from var(--angle),
    #f20790 0deg 100deg,
    #007aff 160deg 260deg,
    #f20790 320deg 360deg
  );
  animation: rotate-gradient 6s linear infinite;
}

.register a{
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
  border-radius: inherit;
  container-type: inline-size;
  border-radius: inherit;
}

.register span {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 11cqw;
  font-weight: 500;
  text-transform: capitalize;
  color: #191919;
  display: inline-block;
  overflow: hidden;
}

.register span::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 154, 0) 0%,
    rgba(255, 0, 154, 0.8) 40%,
    rgba(0, 122, 255, 1) 60%,
    rgba(255, 0, 154, 0) 100%
  );
  mix-blend-mode: lighten;
  animation: textShine 4s linear infinite;
  border-radius: inherit;
}

.register:hover span {
  background: linear-gradient(90deg, #f20790, #007aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.register:hover span::after {
  animation: none;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register:focus,
.register:active {
  outline: none;
}

/* Need to Check this after */
@media screen and (min-width: 2020px) {
  .register::before{
    padding-top: 0.1cqw;
  }
}