.svg-container {
  border: none;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100%, 1920px);
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  container-type: inline-size;
}

.svg-container svg{
  width: 66%;
  height: auto;
  margin-top: -9cqw;
}