.svg-container {
  border: none;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66%;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  margin-top: -9%;
}

.svg-container svg{
  width: 100%;
  height: auto;
}