.footer-container {
  width: min(100%, 1920px);
  aspect-ratio: 100 / 37.7; /* ≈ 2.67 (width / height) */
  position: relative;
  display: flex;
  overflow: hidden;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  transition: transform 0.2s ease-in;
  overflow: hidden;
}

.footer-bg {
  width: 100%;
  position: absolute;
  top: 0;
}

.footer-grid {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 85%;
}

.footer-text {
  position: relative;
  z-index: 2;
  top: -29.525%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 5%;
  text-wrap: nowrap;
  width: 100%;
  container-type: inline-size;
}

.footer-text p {
  position: relative;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: fit-content;
  font-size: 1.5cqw;
  margin: 0 0.6%;
}

.footer-text img {
  scale: 1;
  height: 70%;
}

.footer-left-panel {
  height: 100%;
  min-width: 8.333%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.footer-left-panel img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.footer-right-panel {
  height: 100%;
  min-width: 8.333%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}

.footer-right-panel img {
  position: absolute;
  right: 0;
  height: 100%;
  width: 110%;
}

.footer-mach {
  position: absolute;
  top: 25%;
  height: 75.342%;
  width: 65.325%;
  z-index: 3;
}

.footer-mach div {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mach-final-base,
.mach-init-base {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.footer-eyes {
  position: absolute;
  width: 12.667%;
  top: 15%;
}

.footer-mach-top {
  position: absolute;
  width: 60%;
  top: 0;
  opacity: 0;
}

.footer-gif {
  position: absolute;
  height: 59.5%;
  object-fit: cover;
  object-position: center;
  width: 26%;
  top: 10.5%;
  border-radius: 4%;
}

.footer-comp-anim-out {
  animation: fadeOut 0.6s ease-in forwards;
  /* animation-delay: 0.5s; */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
