* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  * {
    content: "";
    background-color: white;
    visibility: hidden;
    display: none;
  }
}

.app{
  width: min(100vww, 1920px);
}