.forgot-button {
  color: #191919;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1rem */
  border: none;
  background: transparent;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}
.login-bgrid {
  position: absolute;
  top: -7.3rem;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
